<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> Home </h1>
    <h2>Hello Harish</h2>
    <!-- This is how you can use variables to print any set value -->
    <h2>Hi <%= name %></h2>

    <!-- you can also do arthematic operation -->
    <h2>45 + 45 = <%= 45 + 45 %></h2>


    <div class="main">
        <form method="post" action="" class="submit_form">
            <h1>Contact Now</h1>
            <input type="text" name="name"/>
            <input type="text" name="email"/>
            <button type="submit">Send Message</button>  

        </form>
    </div>

    j
    
</body>
</html>